<div *ngIf="error; else content">
  <p>error...</p>
  <button (click)="updateList()">refetch</button>
</div>

<ng-template #content>
  <div class="todo-list" *ngIf="!loading && todos.length">
    <app-todo-item
      *ngFor="let todo of todos"
      [todo]="todo"
      (modifyTodo)="modifyTodo($event)"
      (removeTodo)="removeTodo($event)"
    ></app-todo-item>
  </div>

  <div class="todo-list" *ngIf="!loading && !todos.length">
    <p>No todos</p>
  </div>

  <div class="empty-list" *ngIf="loading">
    <p>Loading</p>
  </div>
</ng-template>
