.todo-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 600px;
  min-height: 60px;

  .todo-item {
    display: flex;
    align-items: center;
  }

  .todo-checkbox {
    margin-right: 8px;
  }
}
