@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --color-success: #73ffbe;
  --color-warning: #f0e061;
  --color-danger: #e35e6b;
  --color-background: #f0f0f0;
  --color-primary-text: #333;
  --shadow-light: 0px 0px 32px -16px rgba(34, 60, 80, 0.25);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-background);
  color: var(--color-primary-text);
}
